#eclipse and Intellij project file
*.iml
*.eclipse
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
.idea
*.obj
*.jar
*.exe
*.mp3
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.info
QA/UFT_Installation/Log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
![Tt]est[Rr]esult*.xsd
![Tt]est[Rr]esult*.java

.svn*/
*.idl
*.iws
*.sdf
*.opensdf
*.class
*.ipch
*.orig
midloutput*/
target*/
*.sxs.manifest
dotNETClient/Client/Interops*/
ClientServer/Binaries*/
*.ipch
*.prefs
*.project
*.classpath
version.info
properties.txt
repository*/
.repository*/
QCWebApp/defaultroot/qcsense/birt/logs*/
ali-artifact-wrapper/ali-server-war-wrapper/overlays
horizon-webapp/overlays
horizon-webapp/war
webapp/agm-webapp-js/node_modules
webapp/agm-webapp-js/src/main/webui/alm/apm/docs
main-distribution/overlays
*.gwt-log
siteadmin.properties
GitUtils*/
SharpPlink-Win32.svnExe
SharpSvn-DB44-20-Win32.dll
SharpSvn-SASL21-23-Win32.dll
SharpSvn.dll
#Begin Externals
jetty-runner/src/main/resources
#End Externals
/sys$command

Package/mqm-installation/InstallAnywhere/*
UI/mqm-web-ui/app/administration/generated/*
UI/mqm-web-ui/app/common/generated/*
UI/mqm-web-ui/app/ui/generated/*

.metadata
.settings
alma/automation-tests/src/test/java/com/hp/agm/configuration/regression/LocalStories.java
alma/automation-tests/src/test/resources/automation-tests-off-prem.properties
alma/automation-tests/src/test/resources/automation-tests-off-prem.properties
alma/automation-tests/src/test/resources/automation-tests-off-prem.properties
alma/automation-tests/src/test/resources/automation-tests-off-prem.properties
alma/automation-tests/src/test/resources/automation-tests-off-prem.properties
alma/automation-tests/src/test/resources/automation-tests_ja.properties

UI/mqm-web-ui/stylebox/docs/src/includes/components/svgstore.html-demo.html

jobDSL/.shelf/

UI/mqm-web-ui/jenkins/home/war/**
UI/mqm-web-ui/jenkins/home/jobs/**/builds/**
**/bdi.sdk.log.*

*.jpi*
*.hpi*

yarn.lock
**/.yarn-integrity
/LP/TranslationHelper/octane
/LP/TranslationHelper/maven-metadata.xml
/LP/TranslationHelper/octane-onprem-12.55.4.236.rpm
/0001-Translation-of-German-and-Spanish-English-UI-updated.patch
/LP/TranslationHelper/*.rpm
/LP/TranslationHelper/xmlOctane.groovy
/LP/TranslationHelper/run_GetLatestVersionBuildSplit.bat
/LP/TranslationHelper/run_GetLatestVersionBuild.bat
/LP/TranslationHelper/GetLatestVersionBuild.xml
/LP/TranslationHelper/GetLatestVersionBuildSplit.xml
/LP/TranslationHelper/xmlOctaneMaster.groovy
